* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #0a0a0a;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

img {
    width: 200px;
    filter: drop-shadow(0 0 20px #000);
}

/* Container dos botões */
#buttons {
    display: flex;
    gap: 15px;
}

/* Botões neon */
.button {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    background: #111;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 10px #000;
}

/* Efeitos individuais */
#red:hover {
    background: #ff2d2d;
    box-shadow: 0 0 15px #ff2d2d;
}

#yellow:hover {
    background: #ffcf2d;
    box-shadow: 0 0 15px #ffcf2d;
}

#green:hover {
    background: #32ff6a;
    box-shadow: 0 0 15px #32ff6a;
}

#automatic:hover {
    background: #4f39ff;
    box-shadow: 0 0 15px #4f39ff;
}
